<% layout('/444/template/layout/page') -%>

<% block('title', 'ТАБЛИЦА') -%>
    <style>
        table {border: 1px solid grey;}
        th {border: 1px solid grey;}
        td {border: 1px solid grey;}
        table {
            border-collapse: collapse;
            align-content: center;
            width: 600px;
            margin: 0 auto;

        }
    </style>

<table>
    <tr><th>Проблема</th><th>Проблема</th><th>Оценка</th></tr>
    <tr><td>данные</td><td>данные</td><td>данные</td></tr>
</table>

</body>
</html>